.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    flex-wrap: wrap;

}

.skills {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 920px;
}
.subtitle{
    padding: 20px 0;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    /* Black */

    color: #070707;
}
.title {
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #828282;
}

