.container {
    margin: 5px auto;
    padding-top: 5px;
    display: flex;

    justify-content: space-between;
    max-width: 940px;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}
.container .information p {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    /* Black */
    color: #070707;

    text-align: justify;
}
.download{
    margin: 30px;
}